
* {
  box-sizing: border-box;
}


html {
  background-color: #363535;
  color: white;
  font-family: sans-serif;
}


body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  color: #64CCC5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: double;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


li {
  margin: .5rem 0;
}

/* nav styles */

header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #818181;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  margin: 0;
  display: flex !important;
  gap: 1.5rem !important;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .1rem;
}

.nav-links a:first-child {
  margin-right: auto;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
  }

  .hamburger {
    display: none;
  }
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #64CCC5;
}