---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="nav-links">
  <div class="_left">
    <a href="/">Home</a>
    <ThemeIcon />
  </div>
  <a href="/blog">Blog</a>
  <a href="/tags">Tags</a>
  <a href="/about">About</a>
</div>
